/*
*Desktop
*/
@media only screen and (max-width: 992px){
    
}

/*
*Tablet
*/
@media screen and (max-width: 972px){
    .diagramUpper {
        flex-flow: wrap;
    }

    .titleBullets {
        width: 100%!important;
    }

    .diagramHardware img {
        width: calc(100% - 2rem);
    }
    
    .imgTextModule {
        width: 100%!important;
        padding: 1.5rem 0;
    }
    
    .greyArrowNext {
        transform: rotate(90deg);
        padding: 3rem;
    }
    
    .blueNumbersList {
        width: 50%!important;
        margin: auto;
    }
    
    .blueNumbersList p {
        padding: 1.5rem 0;
    }

    .downloadLink {
        font-size: .75rem;
    }

    .switchContainer a {
        font-size: 1rem;
    }

    .downloadButton:before{
        top: 1rem;
    }

    #rapidGrowthImg{
        width: 50%
    }
}

/*
* Small Tablet
*/
@media screen and (max-width: 790px){
    .switchContainer,
    .hardwareOptionContainer {
        flex-flow: wrap;
    }

    .hardwareOptionContainer > div {
        width: 100%;
    }
}

/*
*Mobile
*/
@media only screen and (max-width: 480px){
    .blueNumbersList p {
        font-size: 1rem;
    }
    
    .diagramUpper b {
        font-size: 1.5rem;
    }

    .blueNumbersList{
        width: 90%!important;
        left: .5rem;
    }

    .blueNumbersList{
        padding-left: 1rem!important;
    }

    .textSizeLg{
        font-size: 1.5rem;
    }
    
    .switchContainer a {
        text-align: center;
        padding: .5rem;
    }

    .hardwareOptionContainer {
        flex-flow: wrap;
    }
    
    .hardwareOptionContainer img {
        width: 12rem;
        padding-bottom: 1rem;
    }

    .redXList{
        left: 2.5rem;
    }

    .redXList p {
        width: 80%;
    }
    
}

/* 
*Small Mobile 
*/
@media only screen and (max-width: 360px){
    .diagramUpper div:first-child img {
        height: 50%;
        top: 35%;
    }

    .redXList {
        left: 1.5rem;
    }

    .hardwareOptionContainer img {
        width: 10rem;
    }
}